# IntelliJ
out/
.idea/
*.iml

# Maven
target/
dependency-reduced-pom.xml

# NetBeans
nbproject/
build/
build.xml

# Database (Apache Derby)
*.lck
*.log
yogibearDB/

# Java
*.class
hs_err_pid*
replay_pid*

# OS specific (Mac/Windows)
.DS_Store
Thumbs.db